.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.container {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px 25px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
        "User-Widget Notes-Widget News-Widget"
        "User-Widget Notes-Widget News-Widget"
        "Weather-Widget Notes-Widget News-Widget"
        "Timer-Widget Timer-Widget News-Widget"
        "Timer-Widget Timer-Widget News-Widget";
}

.UserWidget {
    background-color: #5746EA;
    grid-area: User-Widget;
    border-radius: 30px;
}

.WeatherWidget {

    background-color: #FF4ADE;
    grid-area: Weather-Widget;
    border-radius: 30px;
}

.TimerWidget {

    background-color: #1E2343;
    grid-area: Timer-Widget;
    border-radius: 30px;
}

.NotesWidget {

    background-color: #F1C75B;
    grid-area: Notes-Widget;
    border-radius: 30px;
}

.NewsWidget {
    /* background-color: lightcoral; */
    grid-area: News-Widget;
    border-radius: 30px;
    height: 100%;
}

.browse{
    position: absolute;
    width: 10%;
    height: 40px;
    bottom: 30px;
    right: 50px;
    border-radius: 50px;
    background-color: #148a14;
    color: #FFFFFF;
}