.page{
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    width: 100vw;
    /* color: white; */
    background: black;
}

.left{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65%;
    height: 100%;
    background-color: pink;
}

.right{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: blue;
}

.userWidget{
    display: flex;
    flex-direction: column;
    height: 80%;
    color: white;
    background-color: #5746EA;
}

.userWidget img{
    height:150px;
    width: 140px;
}

.pill{
    width: 20%;
    border-radius: 20px;
    background-color: #9F94FF;
    padding: 10px;
    margin: 10px;
}