.page {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 2.5% 4% 10%;
    width: 65%;
    height: 100%;
}

.right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 9% 4% 2.5%;
}

.right button{
    position: absolute;
    bottom: 58px;
    right: 150px;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    background-color: #148a14;
    color: #FFFFFF;
}